
@model List<TbCheckoutTourUser>
@section Style 
{
      <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/Admin/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <!-- End plugin css for this page -->
}


    <div class="card">
        <div class="card-body">

      

            <h4 class="card-title"> List Of CheckoutTourUser  </h4>

            <div class="row">
                <div class="col-12">
                    <div id="order-listing_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <div class="col-sm-12">
                                <table id="order-listing" class="table dataTable no-footer" aria-describedby="order-listing_info">
                                    <thead>


                                         <tr> 
                                             <th>TourName </th>
                                        <th>  Name </th>
                                           <th>  Phone </th>
                                        <th>  Email </th>
                                        <th>  Age </th>
                                          <th>  jop </th>
                                     
                                          
                                        @*<th> Action </th>*@
                                         </tr> 
                                     </thead>
                                    <tbody>  
                                        @foreach (var item in Model)
                                        { 
                                        <tr class="odd">
                                        <td>@item.TbTour.TourName</td>
                                        <td> @item.Name </td> 
                                        <td>@item.Phone</td>
                                        <td>@item.Email</td>
                                        <td>@item.Age</td>
                                        <td>@item.jop</td>
                                 
                                     
                                        @*<td class=""> <a  asp-action="Details" asp-controller="CheckoutTourUser" asp-route-id="@item.Id" class="btn btn-danger ">Delete </a></td> *@
                                       
                                    
                                    </tr>
                                        }
                                       

                                     
                                    </tbody>
                                </table>
                            </div>
                     </div>
                </div>
            </div>
        </div>
    </div>











@section Script{
            <!-- Plugin js for this page -->
        <script src="~/Admin/vendors/datatables.net/jquery.dataTables.js"></script>
        <script src="~/Admin/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
        <!-- End plugin js for this page -->
            <!-- Custom js for this page -->
    <script src="~/Admin/js/data-table.js"></script>
    <!-- End custom js for this page -->
}